<div id="application" ng-controller="applicationCtrl as $ctrl" class="container row">

  <div class="addCand medium-6 small-12 column">
    <div class="title">
      <h3>Ajouter une candidature</h3>
    </div>
    <form action="">
      <label for="entName">Nom de l'entreprise :</label>
      <input name="entName" type="text" ng-model="$ctrl.formAddCand.name">
      <label for="jobLink">Lien de l'offre :</label>
      <input name="jobLink" type="text" ng-model="$ctrl.formAddCand.link">
      <label for="candSent">Candidature envoyée :</label>
      <select name="candSent" ng-model="$ctrl.formAddCand.sent">
        <option value="Oui">Oui</option>
        <option value="Non">Non</option>
      </select>
      <label for="entAddress">Adresse :</label>
      <ng-autocomplete place-id="$ctrl.formAddCand.placeId" address="$ctrl.formAddCand.address" location="$ctrl.formAddCand.location"></ng-autocomplete>
      <a class="button" ng-click="$ctrl.addCand()">Ajouter candidature</a>
    </form>
  </div>
  <div class="medium-6 small-12 column">
    <h3>Candidatures en cours</h3>
    <ul>
      <li class="candidature"
          ng-repeat="(key, candidature) in $ctrl.candidatures">
          <div ng-hide="show">
            <p>Nom de l'entreprise : <pre>{{ candidature.name }}</pre></p>
            <p>Candidature envoyée :<pre>{{ candidature.sent }}</pre></p>
            <p>{{ candidature.address }}</p>
            <p>Localisation : </p>
            <gmap-display key="key" place-id="candidature.placeId"></gmap-display>
            <!-- <ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom'></ui-gmap-google-map> -->
            <a href="{{ candidature.link }}" target="_blank">Accéder à l'offre</a>
            <a class="delete" ng-click="$ctrl.deleteCandidature(key)">supprimer</a>
            <a class='update' ng-click="show=true">Modifier candidature</a>
          </div>
        <form class="update-form" ng-show="show">
          <div class="close" ng-click="show=false"><span></span></div>
          <label for="entName">Nom de l'entreprise :</label>
          <input name="entName" type="text" ng-model="candidature.formUpdate.name">
          <label for="jobLink">Lien de l'offre :</label>
          <input name="jobLink" type="text" ng-model="candidature.formUpdate.link">
          <label for="candSent">Candidature envoyée :</label>
          <select name="candSent" ng-model="candidature.formUpdate.sent">
            <option value="true">Oui</option>
            <option value="false">Non</option>
          </select>
          <label for="entAddress">Adresse :</label>
          <input name="entAddress" type="text"  ng-model="candidature.formUpdate.address">
          <a class="button" ng-click="$ctrl.updateCandidature(key)">
            Modifier candidature
          </a>

        </form>
      </li>
    </ul>
  </div>
</div>
